html, body {
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.index_page {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.left_menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 100vh;
    background-color: #3E444E;
    z-index: 2;
}

.index_body {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw - 80px);
    height: 100vh;
    z-index: 1;
    overflow: hidden;
    padding-left: 80px;
}

.left_btn {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.left_btn svg {
    width: 30px;
}



.left_btn polyline,
.left_btn path  {
    stroke: #747B88;
}


.left_btn:hover
polyline, 
.left_btn:hover 
path {
    stroke: #6EA493;
}

.left_btn.selected polyline,
.left_btn.selected path {
    stroke: #01D068;
}




