html, body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--main-body-color);
    color: var(--main-color-text);
    font-family: var(--font-default);
}

.index_page {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.index_page_header {
    width: 95%;
    margin: 0 auto;
    height: 65px;
    border-bottom: 1px solid var(--main-line-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.index_page_body {
    margin: 0 auto; 
    width: 95%;
    height: calc(100% - 65px);
    overflow: hidden;
    display: flex;
}

.body_chat_block {
    height: 100%;
    position: relative;
}

.body_msg {
    flex: 1;
}

.body_chat {
    flex: 2.2;
}

.body_info {
    flex: 1;
    border-left: 1px solid var(--main-line-color);
}

.body_msg_add_button {
    width: 100%;
    position: absolute;
    bottom: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.body_msg_add_button_in {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
    position: relative;
}

.body_msg_add_button_toggle {
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    height: 100%;
    position: absolute;
    z-index: 22;
    cursor: pointer;
}

.body_msg_add_button_in.selected span {
    transform: rotate(45deg);
}

.body_msg_add_button span{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: var(--main-blue);
    cursor: pointer;

}

.body_msg_add_button span::after {
    display: block;
    content: '';
    width: 20px;
    height: 1.5px;
    background-color: white;
    margin: 0 auto;
    top: 31.5px;
    position: relative;
}

.body_msg_add_button span::before {
    display: block;
    content: '';
    width: 20px;
    height: 1.5px;
    background-color: white;
    margin: 0 auto;
    top: 33px;
    position: relative;
    transform: rotate(90deg);
}

.chat_input {
    width: 100%;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 75px;
    border-top: 1px solid var(--main-line-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 2;
}

.chat_info_block {
    position: absolute;
    top: 0;
    height: 80px;
    background-color: var(--main-body-color);
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 2;
}

.chat_info_block_in {
    width: 95%;
    margin: 0 auto;
}

.chat_info_block span {
    font-size: 20px;
}

.info_block_img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.info_block_img span {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}

.info_block_img img {
    height: 100%;
}

.info_block_header_text {
    width: 100%;
    text-align: center;
}

.info_block_header_text h1 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0;
}

.info_block_header_text span {
    font-size: 13px;
    color: var(--main-color-text-grey);
}

.chat_input input {
    height: 35px;
    width: 90%;
    padding: 0 10px;
    border-radius: 8px;
    border: 0;
    background-color: var(--input-bkg);
}

.body_msg_users {
    width: 100%;
    height: 75%;
    padding-top: 20px;
}

.user_line {
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 60px;
    margin: 10px 0;
}

.user_line_img {
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 50%;
}

.user_line_img img {
    height: 100%;
}

.user_line_text {
    margin-left: 20px;
}

.user_line_text h1 {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0;
}

.user_line_text span{
    font-size: 13px;
    color: var(--main-color-text-grey);
}

.user_settings_block {
    display: flex;
    justify-content: space-between;
    width: 125px;
}


.user_block {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--main-line-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.user_block img {
    height: 100%;
}

.settings_button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid var(--main-line-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.close_index_button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid var(--main-line-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.close_index_button span {
    transform: rotate(45deg);
    display: block;
    top: -1.5px;
    position: relative;
    left: 1.5px;
    color: var(--main-line-color);
}

.settings_button img {
    width: 65%;
}

.user_line.selected {
    border-left: 2px solid var(--main-blue);
    padding-left: 18px;
}

.body_chat_msgs {
    height: calc(100% - 156px);
    width: 100%;
    position: absolute;
    top: 80px;
    left: 0;
    z-index: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    align-items: flex-end;
}

.body_chat_msgs::-webkit-scrollbar {
    width: 0;
}

.body_chat_msgs_in::-webkit-scrollbar {
    width: 0;
}

.msg_line {
    display: flex;
    align-items: flex-end;
    padding-bottom: 20px;
    padding-left: 20px;
}

.msg_line_me {
    display: flex;
    align-items: flex-end;
    padding-bottom: 20px;
    justify-content: flex-end;
    padding-right: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
}

.msg_line_me .msg_line_text {
    margin-right: 20px;
}

.msg_line_user {
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.msg_line_user img {
    height: 100%;
}

.msg_line_text {
    margin-left: 20px;
    width: auto;
    height: auto;
    padding: 15px 20px;
    border-radius: 12px 12px 0px 12px;
    background-color: var(--main-blue);
    max-width: 340px;
    word-break: break-word;
}

.input_button {
    width: 30px;
    height: 30px;
    padding: 0 10px;
    cursor: pointer;
}

.input_button img {
    height: 100%;
}

.logotype_header span {
    font-size: 20px;
}

.body_chat_msgs_in {
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 100%;
}

.user_settings_block div {
    cursor: pointer;
}

.msg_line,
.msg_line_me {
    width: calc(100% - 20px);
    height: fit-content;
}

.add_box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100000;
    background-color: var(--main-body-color);
    display: none;
    border: 1px solid var(--main-line-color);
}

.add_box_header {
    width: 100%;
    height: 80px;
    position: relative;
}

.add_box_header input{
    width: calc(100% - 40px);
    height: calc(100% - 20px);
    border: 0;
    padding: 10px 20px;
    border-bottom: 2px solid var(--main-line-color);
    background-color: transparent;
    font-size: 20px;
    color: var(--main-color-text-grey);
}

.add_box_header input::placeholder {
    font-weight: 100;
    color: var(--main-line-color);
}

.add_box_header_go {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    cursor: pointer;
}

.add_box_header_go img {
    height: 40%;
}

.add_box_body {
    width: 100%;
    height: calc(100% - 80px);
}

.add_box_body_line {
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.add_box_body_line_img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.add_box_body_line_img img {
    height: 100%;
}

.add_box_body_line span {
    margin-left: 20px;
}

.msg_line .msg_line_text {
    background-color: #383B40;
    border-radius: 12px 12px 12px 0px;
}

.add_img_input input{
    display: none;
}

.msg_line_text img {
    width: 100%;
    border-radius: 8px;
}